#poweredby {
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 15000;

    /* IE 5-7 */
    filter: alpha(opacity=70);
    /* Netscape */
    -moz-opacity: 0.7;
    /* Safari 1.x */
    -khtml-opacity: 0.7;
    /* Good browsers */
    opacity: 0.7;
}

#poweredby div {
    position: relative;
    width: 150px;
    height: 25px;
    background-image: url(../images/powered-by-ext-js.png);
    background-repeat: no-repeat;
}

/* The simple background image PNG does not work in IE6-8, but does in IE9 */
.x-ie6 #poweredby div,
.x-ie7 #poweredby div,
.x-ie8 #poweredby div {
    background-image: none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/powered-by-ext-js.png', sizingMethod='scale');
}

/*----------------------------------------------------
    Start Button
*/

.ux-start-button-icon {background-image: url(../images/taskbar/sencha.gif) !important;background-color: transparent;}
.ux-start-button .x-btn-arrow {background-image: none;}

.ux-start-button .x-btn-arrow-right {padding-left: 10px;}

.ux-taskbar {padding-left: 4px !important;}

/*
    Start Button (Black)
*/

.ux-desktop-black .ux-start-button {height: 28px;padding: 0px;display: block;}
.ux-desktop-black .ux-start-button em {margin-top: 5px;}
.ux-desktop-black .ux-start-button .x-btn-inner {color: black;font-size:11px;font-weight: bold;}
.ux-desktop-black .ux-start-button {background-image: -moz-linear-gradient(center top , #E4F3FF, #D9EDFF 48%, #C2D8F2 52%, #C6DCF6);border-radius: 8px 8px 8px 8px;border-color: #81A4D0;}

/*----------------------------------------------------
    Start Menu
*/

.ux-start-menu-toolbar .x-btn-inner {text-align: left;}
.ux-start-menu-toolbar {padding: 4px !important;}

/*----------------------------------------------------
    TaskBar
*/

.ux-taskbar .x-toolbar {background: transparent none;border-color: transparent;}
.x-ie6 .ux-taskbar .x-toolbar {border-color: #d3e1f1;}
.ux-desktop-windowbar .x-btn-inner,
.x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {text-align: left !important;}
.ux-taskbar .x-toolbar {height: 28px;}
.ux-taskbar {height: 28px;padding: 0;}
.x-toolbar .x-toolbar {padding: 0;}

/*
    TaskBar (Black)
*/

.ux-desktop-black .ux-taskbar {background: transparent url('../images/taskbar/black/taskbar-start-panel-bg.gif') repeat-x left top;border-color: transparent;/*height: 30px;*/}
.ux-desktop-black .ux-taskbar .x-splitter {background: transparent url(../images/taskbar/black/taskbar-split-h.gif) no-repeat scroll 0 -2px;}
.ux-desktop-black .ux-taskbar .x-toolbar-text {color: white !important;}
.ux-desktop-black .ux-taskbar .x-btn-default-toolbar-small-over {background-color: yellow;}
.ux-desktop-black .ux-taskbar .x-btn-inner {color: white;}
.ux-desktop-black .ux-taskbar .x-btn-pressed .x-btn-inner, .ux-taskbar .x-btn-over .x-btn-inner {color: black;}

/*----------------------------------------------------
    Tray Clock
*/

.ux-desktop-trayclock {text-align: center;vertical-align: middle;padding-top: 0;padding-bottom: 0;}

/*----------------------------------------------------
    Desktop DataView
*/

.ux-wallpaper {background-color: #3d71b8;}
.ux-wallpaper-tiled {background-repeat: repeat;}
.ux-desktop-shortcut {cursor: pointer;position: absolute;text-align: center;padding: 8px;margin: 8px;width: 64px;}
.ux-desktop-shortcut-icon {width: 48px;height: 48px;background-color: transparent;background-repeat: no-repeat;}
.ux-desktop-shortcut-text {font: normal 10px tahoma,arial,verdana,sans-serif;text-decoration: none;padding-top: 5px;color: white;}
.x-view-over .ux-desktop-shortcut-text {text-decoration: underline;}

/*----------------------------------------------------
    other icons
*/

body{-webkit-font-smoothing:antialiased;font:11px / 1.231 HelveticaNeue,helvetica,arial,clean,sans-serif;color:#484848}
a{color:#083772;text-decoration:none;}
a:hover{color:#0464bb;}

.caixa_cores{width:15px;height:15px;border:1px solid black;}
.caixa_cores_combo{width:15px;height:15px;border:1px solid black;float:left; margin-right: 4px;}

.build_sys{font-size: 12px!important;color: #666!important;}

.amarelo .x-grid-cell{background-color: #FF9;}
		
.buttonFilter{color: blue;}


.title{color:#66ab16;font-size:24px !important; letter-spacing:-1px;line-height:41px;margin-left:5px !important;}
.nome{font-weight:bold;}
.msg_user{font-size: 11px; color: #333;}

.none div{
	background-image: none !important;
	background-color: red !important;
}

.guides{width:600px !important;line-height:1.7em;}

.legend{border-radius:5px;-moz-border-radius:5px;background-color:#f7f7f7;border:1px solid #ebebeb;padding:0 15px 15px 10px;margin:0 20px 10px 0;width:300px;}
.legend .icn{padding-left:22px}
.legend a{display:block}
.legend h4{font-family:HelveticaNeue,Helvetica,Arial,sans-serif;font-size:90%;padding:11px 0 5px 0;text-transform:uppercase;color:#999}

.lft{float:left;width:220px}
.mid{float:left;width:180px;margin-left:20px}
.right{margin-left:410px}

.lft a,.mid a,.right a{display:block;height:32px;margin:10px 0;padding-left:40px}

.n_doc{font-size:14px; font-weight:bold;}


.bt_add{background:url("../images/add.png") no-repeat}
.bt_reset{background:url("../images/reset.png") no-repeat 3px}
.bt_edit{background:url("../images/edit.png") no-repeat}
.bt_del{background:url("../images/delete.gif") no-repeat}
.bt_pdf{background:url("../images/pdf.png") no-repeat}
.bt_xls{background:url("../images/xls.png") no-repeat}
.bt_close{background:url("../images/cross.gif") no-repeat}
.bt_login{background:url("../images/connect.png") no-repeat}
.bt_modulo{background:url("../images/application_view_list.png") no-repeat}
.bt_save{background:url("../images/save.png") no-repeat}
.bt_cancel{background:url("../images/cross.gif") no-repeat}
.information{background-image:url('../images/information.png') !important;}
.acao{background: url('../images/acao.png') center no-repeat !important;}
.modulo{background: url('../images/modulo.png') no-repeat center !important;}
.config{background: url('../images/config.png') no-repeat !important;}

.logout{background:url("../images/disconnect.png") no-repeat !important;}
.pass{background:url("../images/key.png") no-repeat center !important;}
.help{background:url("../images/help.png") no-repeat center !important;}

.view-desktop{background:url("../images/desktop.png") no-repeat !important;}
.usuario{background:url("../images/usuarios.png") no-repeat !important;}
.alterar_senha{background:url("../images/alterar_senha.png") no-repeat !important;}
.bt_refresh{background:url("../images/refresh.gif") no-repeat !important;}
.bt_lupa{background:url("../images/lupa.png") no-repeat}

.none{display:none !important;}


#poweredby{position: absolute;top: 13px;right: 25px;z-index: 15000;/*IE 5-7*/filter: alpha(opacity=70);/*Netscape*/-moz-opacity: 0.7;/*Safari 1.x*/-khtml-opacity: 0.7;/*Good browsers*/opacity: 0.7;}
#poweredby div{position: relative;width: 150px;height: 25px;background-image: url('../images/powered-by-ext-js.png');background-repeat: no-repeat;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/powered-by-ext-js.png', sizingMethod='scale');}

*{padding: 0;margin: 0;font-family: Tahoma, Geneva, sans-serif;font-size: 11px;}

.x-form-empty-field{color: black!important;}

.ext-ie .x-fieldset{padding-top:5px !important;}

#loading-mask{background-color:white;height:100%;position:absolute;left:0;top:0;width:100%;z-index:40000;}
#loading{
	height:auto;
	position:absolute;
	width:520px;
	left:35%;
	top:40%;
	z-index:40001;
}
#loading a {color:#225588;}
#loading .loading-indicator{background:white;color:#444;font:bold 13px Helvetica, Arial, sans-serif;height:auto;margin:0;padding:10px;}
#loading-msg {font-size: 10px;font-weight: normal;}
