/**
*	@Autor: Maciel Sousa
*	@Email: macielcr7@gmail.com
**/
/*SHORTCUT*/
	.categoria-shortcut {
		background-image: url(../images/categoria48x48.png);
	}
	.contato-shortcut {
		background-image: url(../images/contato48x48.png);
	}

/*SHORTCUT IE6*/
	.x-ie6 .categoria-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/categoria48x48.png', sizingMethod='scale');
	}	
	.x-ie6 .contato-shortcut {
		background-image: none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/contato48x48.png', sizingMethod='scale');
	}	

/*ICON-GRID*/
	.categoria {
		background-image: url( ../images/categoria16x16.png ) !important;
	}
	.contato {
		background-image: url( ../images/contato16x16.png ) !important;
	}
